{% load i18n %}
{% load static %}

{% if navbar_detached %}
  <nav
    class="layout-navbar {{ container_class }} navbar navbar-expand-xl {{ navbar_detached_class }} align-items-center bg-navbar-theme"
    id="layout-navbar">
{% endif %}

{# Horizontal layout (navbar not detached) #}

{% if not navbar_detached %}
  <nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">
  <div class="{{ container_class }}">
{% endif %}
<!--  Brand demo (display only for navbar-full and hide on below xl) -->
{% if navbar_full %}
  <div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-4">
    <a href="{% url 'index' %}" class="app-brand-link gap-2">
          <span class="app-brand-logo demo">
            {% include 'partials/logo.html' %}
          </span>
      <span class="app-brand-text demo menu-text fw-bold">{% get_theme_variables 'template_name' %}</span>
    </a>

    {% if menu_horizontal %}
      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
        <i class="ti ti-x ti-sm align-middle"></i>
      </a>
    {% endif %}
  </div>
{% endif %}

<!-- ! Not required for layout-without-menu -->
{% if not navbar_hide_toggle %}
  <div
    class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 {{ menu_horizontal|yesno:'d-xl-none,' }} {{ content_navbar|yesno:'d-xl-none,' }}">
    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
      <i class="ti ti-menu-2 ti-sm"></i>
    </a>
  </div>
{% endif %}

<div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
  {% if not menu_horizontal %}
    <!-- Search -->
    {#            <div class="navbar-nav align-items-center">#}
    {#              <div class="nav-item navbar-search-wrapper mb-0">#}
    {#                <a class="nav-item nav-link search-toggler d-flex align-items-center px-0" href="javascript:void(0);">#}
    {#                  <i class="ti ti-search ti-md me-2 h-mirror"></i>#}
    {#                  <span class="d-none d-md-inline-block text-muted">جستجو (/+Ctrl)</span>#}
    {#                </a>#}
    {#              </div>#}
    {#            </div>#}
    <!-- /Search -->
  {% endif %}
  <ul class="navbar-nav flex-row align-items-center ms-auto">
    <!-- Language -->
    {#          <li class="nav-item dropdown-language dropdown me-2 me-xl-0">#}
    {#            <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">#}
    {#              <i class='ti ti-language rounded-circle ti-md'></i>#}
    {#            </a>#}
    {#            <ul class="dropdown-menu dropdown-menu-end">#}
    {#              <li>#}
    {#                <a class="dropdown-item {% if LANGUAGE_CODE == 'fa' %}active{% endif %}" href="{% current_url request %}" data-language="fa" data-text-direction="rtl">#}
    {#                  <span class="align-middle">{% trans "Farsi"%}</span>#}
    {#                </a>#}
    {#              </li>#}
    {#              <li>#}
    {#                <a class="dropdown-item {% if LANGUAGE_CODE == 'en' %}active{% endif %}" href="{% current_url request %}" data-language="en" data-text-direction="ltr">#}
    {#                  <span class="align-middle">{% trans "English"%}</span>#}
    {#                </a>#}
    {#              </li>#}
    {#              <li>#}
    {#                <a class="dropdown-item {% if LANGUAGE_CODE == 'fr' %}active{% endif %}" href="{% current_url request %}" data-language="fr" data-text-direction="ltr">#}
    {#                  <span class="align-middle">{% trans "French"%}</span>#}
    {#                </a>#}
    {#              </li>#}
    {#              <li>#}
    {#                <a class="dropdown-item {% if LANGUAGE_CODE == 'ar' %}active{% endif %}" href="{% current_url request %}" data-language="ar" data-text-direction="rtl">#}
    {#                  <span class="align-middle">{% trans "Arabic"%}</span>#}
    {#                </a>#}
    {#              </li>#}
    {#              <li>#}
    {#                <a class="dropdown-item {% if LANGUAGE_CODE == 'de' %}active{% endif %}" href="{% current_url request %}" data-language="de" data-text-direction="ltr">#}
    {#                  <span class="align-middle">{% trans "German"%}</span>#}
    {#                </a>#}
    {#              </li>#}
    {#            </ul>#}
    {#          </li>#}
    <!--/ Language -->
    <!--/ Language -->
    {% if menu_horizontal %}
      <!-- Search -->
      {#                <li class="nav-item navbar-search-wrapper me-2 me-xl-0">#}
      {#                  <a class="nav-link search-toggler" href="javascript:void(0);">#}
      {#                    <i class="ti ti-search ti-md"></i>#}
      {#                  </a>#}
      {#                </li>#}
      <!-- /Search -->
    {% endif %}

{#    {% if has_customizer %}#}
{#      <!-- Style Switcher -->#}
{#      <li class="nav-item dropdown-style-switcher dropdown me-2 me-xl-0">#}
{#        <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">#}
{#          <i class='ti ti-md'></i>#}
{#        </a>#}
{#        <ul class="dropdown-menu dropdown-menu-end dropdown-styles">#}
{#          <li>#}
{#            <a class="dropdown-item" href="javascript:void(0);" data-theme="light">#}
{#              <span class="align-middle"><i class='ti ti-sun me-2'></i>روز</span>#}
{#            </a>#}
{#          </li>#}
{#          <li>#}
{#            <a class="dropdown-item" href="javascript:void(0);" data-theme="dark">#}
{#              <span class="align-middle"><i class="ti ti-moon me-2"></i>شب</span>#}
{#            </a>#}
{#          </li>#}
{#          <li>#}
{#            <a class="dropdown-item" href="javascript:void(0);" data-theme="system">#}
{#              <span class="align-middle"><i class="ti ti-device-desktop me-2"></i>سیستم</span>#}
{#            </a>#}
{#          </li>#}
{#        </ul>#}
{#      </li>#}
{#      <!--/ Style Switcher -->#}
{#    {% endif %}#}

    <!-- Quick links  -->
    {#          <li class="nav-item dropdown-shortcuts navbar-dropdown dropdown me-2 me-xl-0">#}
    {#            <a aria-expanded="false" class="nav-link dropdown-toggle hide-arrow" data-bs-auto-close="outside" data-bs-toggle="dropdown" href="javascript:void(0);">#}
    {#              <i class="ti ti-layout-grid-add ti-md"></i>#}
    {#            </a>#}
    {#            <div class="dropdown-menu dropdown-menu-end py-0">#}
    {#              <div class="dropdown-menu-header border-bottom">#}
    {#                <div class="dropdown-header d-flex align-items-center py-3">#}
    {#                  <h5 class="text-body mb-0 me-auto">میانبرها</h5>#}
    {#                  <a class="dropdown-shortcuts-add text-body" data-bs-placement="top" data-bs-toggle="tooltip" href="javascript:void(0)" title="افزودن میانبر">#}
    {#                    <i class="ti ti-sm ti-apps"></i>#}
    {#                  </a>#}
    {#                </div>#}
    {#              </div>#}
    {#              <div class="dropdown-shortcuts-list scrollable-container">#}
    {#                <div class="row row-bordered overflow-visible g-0">#}
    {#                  <div class="dropdown-shortcuts-item col">#}
    {#                    <span class="dropdown-shortcuts-icon rounded-circle mb-2 mt-1">#}
    {#                      <i class="ti ti-calendar fs-4"></i>#}
    {#                    </span>#}
    {#                    <a class="stretched-link mb-0" href="{% url 'app-calendar'%}">تقویم</a>#}
    {#                    <small class="text-muted mb-0">قرارهای ملاقات</small>#}
    {#                  </div>#}
    {#                  <div class="dropdown-shortcuts-item col">#}
    {#                    <span class="dropdown-shortcuts-icon rounded-circle mb-2 mt-1">#}
    {#                      <i class="ti ti-file-invoice fs-4"></i>#}
    {#                    </span>#}
    {#                    <a class="stretched-link mb-0" href="{% url 'app-invoice-list'%}">صورتحساب‌</a>#}
    {#                    <small class="text-muted mb-0">مدیریت پرداخت‌ها</small>#}
    {#                  </div>#}
    {#                </div>#}
    {#                <div class="row row-bordered overflow-visible g-0">#}
    {#                  <div class="dropdown-shortcuts-item col">#}
    {#                    <span class="dropdown-shortcuts-icon rounded-circle mb-2 mt-1">#}
    {#                      <i class="ti ti-users fs-4"></i>#}
    {#                    </span>#}
    {#                    <a class="stretched-link mb-0" href="{% url 'app-user-list'%}">مشتریان</a>#}
    {#                    <small class="text-muted mb-0">مدیریت کاربران</small>#}
    {#                  </div>#}
    {#                  <div class="dropdown-shortcuts-item col">#}
    {#                    <span class="dropdown-shortcuts-icon rounded-circle mb-2 mt-1">#}
    {#                      <i class="ti ti-lock fs-4"></i>#}
    {#                    </span>#}
    {#                    <a class="stretched-link mb-0" href="{% url 'app-access-roles'%}">سطح دسترسی</a>#}
    {#                    <small class="text-muted mb-0">موارد امنیتی</small>#}
    {#                  </div>#}
    {#                </div>#}
    {#                <div class="row row-bordered overflow-visible g-0">#}
    {#                  <div class="dropdown-shortcuts-item col">#}
    {#                    <span class="dropdown-shortcuts-icon rounded-circle mb-2 mt-1">#}
    {#                      <i class="ti ti-chart-bar fs-4"></i>#}
    {#                    </span>#}
    {#                    <a class="stretched-link mb-0" href="{% url 'index' %}">داشبورد</a>#}
    {#                    <small class="text-muted mb-0">گزارش آماری</small>#}
    {#                  </div>#}
    {#                  <div class="dropdown-shortcuts-item col">#}
    {#                    <span class="dropdown-shortcuts-icon rounded-circle mb-2 mt-1">#}
    {#                      <i class="ti ti-settings fs-4"></i>#}
    {#                    </span>#}
    {#                    <a class="stretched-link mb-0" href="{% url 'pages-account-settings-account'%}">تنظیمات</a>#}
    {#                    <small class="text-muted mb-0">مدیریت سیستم</small>#}
    {#                  </div>#}
    {#                </div>#}
    {#                <div class="row row-bordered overflow-visible g-0">#}
    {#                  <div class="dropdown-shortcuts-item col">#}
    {#                    <span class="dropdown-shortcuts-icon rounded-circle mb-2 mt-1">#}
    {#                      <i class="ti ti-help fs-4"></i>#}
    {#                    </span>#}
    {#                    <a class="stretched-link mb-0" href="{% url 'pages-faq'%}">مرکز پشتیبانی</a>#}
    {#                    <small class="text-muted mb-0">سوالات متداول و راهنما</small>#}
    {#                  </div>#}
    {#                  <div class="dropdown-shortcuts-item col">#}
    {#                    <span class="dropdown-shortcuts-icon rounded-circle mb-2 mt-1">#}
    {#                      <i class="ti ti-square fs-4"></i>#}
    {#                    </span>#}
    {#                    <a class="stretched-link mb-0" href="{% url 'modal-examples'%}">مُـدال‌ها</a>#}
    {#                    <small class="text-muted mb-0">پاپ‌آپ‌های کاربردی</small>#}
    {#                  </div>#}
    {#                </div>#}
    {#              </div>#}
    {#            </div>#}
    {#          </li>#}
    <!-- Quick links -->

    <!-- Notification -->
              <li class="nav-item dropdown-notifications navbar-dropdown dropdown me-3 me-xl-1">
                <a class="nav-link dropdown-toggle hide-arrow" href="#" >
                  <i class="ti ti-bell ti-md"></i>
                </a>
              </li>
    <!--/ Notification -->

    <!-- User -->
    <li class="nav-item navbar-dropdown dropdown-user dropdown">
      <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
        <div class="avatar avatar-online">

          {% if request.user|has_group:"admin" %}
            <img src="{% static 'img/avatars/' %}{{ user.username }}.png" alt class="h-auto rounded-circle">
          {% else %}
            <img src="{% static 'img/avatars/' %}{{ user.username }}.png" alt class="h-auto rounded-circle">
          {% endif %}
        </div>
      </a>
      <ul class="dropdown-menu dropdown-menu-end">
        <li>
          {#                <a class="dropdown-item" href="{% url 'pages-account-settings-account' %}">#}
          <a class="dropdown-item" href="/setup/profile">
            <div class="d-flex">
              <div class="flex-shrink-0 me-3">
                {% if request.user|has_group:"admin" %}
                  <img src="{% static 'img/avatars/' %}{{ user.username }}.png" alt class="w-px-40 h-auto rounded-circle">
                {% else %}
                  <img src="{% static 'img/avatars/' %}{{ user.username }}.png" alt class="w-px-40 h-auto rounded-circle">
                {% endif %}
              </div>
              <div class="flex-grow-1">
                <span class="fw-medium d-block">{{ request.user.name }}</span>
                {% for group in request.user.groups.all %}
                  <small class="text-muted">{{ group.name }}</small>
                {% endfor %}
              </div>
            </div>
          </a>
        </li>
        {#              <li>#}
        {#                <div class="dropdown-divider"></div>#}
        {#              </li>#}
        {#              <li>#}
        {#                <a class="dropdown-item" href="{% url 'pages-profile-user' %}">#}
        {#                  <i class="ti ti-user-check me-2 ti-sm"></i>#}
        {#                  <span class="align-middle">پروفایل من</span>#}
        {#                </a>#}
        {#              </li>#}
        {#              <li>#}
        {#                <a class="dropdown-item" href="{% url 'pages-account-settings-account' %}">#}
        {#                  <i class="ti ti-settings me-2 ti-sm"></i>#}
        {#                  <span class="align-middle">تنظیمات</span>#}
        {#                </a>#}
        {#              </li>#}
        {#              <li>#}
        {#                <a class="dropdown-item" href="{% url 'pages-account-settings-billing' %}">#}
        {#                  <span class="d-flex align-items-center align-middle">#}
        {#                    <i class="flex-shrink-0 ti ti-credit-card me-2 ti-sm"></i>#}
        {#                    <span class="flex-grow-1 align-middle">خریدها</span>#}
        {#                    <span class="flex-shrink-0 badge badge-center rounded-pill bg-label-danger w-px-20 h-px-20">2</span>#}
        {#                  </span>#}
        {#                </a>#}
        {#              </li>#}
        {#              <li>#}
        {#                <div class="dropdown-divider"></div>#}
        {#              </li>#}
        {#              <li>#}
        {#                <a class="dropdown-item" href="{% url 'pages-faq' %}">#}
        {#                  <i class="ti ti-help me-2 ti-sm"></i>#}
        {#                  <span class="align-middle">سوالات متداول</span>#}
        {#                </a>#}
        {#              </li>#}
        {#              <li>#}
        {#                <a class="dropdown-item" href="{% url 'pages-pricing' %}">#}
        {#                  <i class="ti ti-currency-dollar me-2 ti-sm"></i>#}
        {#                  <span class="align-middle">قیمت گذاری</span>#}
        {#                </a>#}
        {#              </li>#}
        <li>
          <div class="dropdown-divider"></div>
        </li>
        {#              <li>#}
        {#                {% if request.user.is_authenticated and request.user.profile.is_verified %}#}
        {#                <span class="dropdown-item d-flex justify-content-between align-content-center">#}
        {#                  <span>#}
        {#                    <i class='ti ti-user-circle me-2 ti-sm'></i>#}
        {#                    <span class="align-middle">تایید شده</span>#}
        {#                  </span>#}
        {#                  <span class="text-success"><i class='ti ti-circle-check ti-sm'></i></span>#}
        {#                </span>#}
        {#                {% else %}#}
        {#                <a class="dropdown-item d-flex justify-content-between align-content-center" href="{% url 'verify-email-page' %}">#}
        {#                  <span>#}
        {#                    <i class='ti ti-user-circle me-2 ti-sm'></i>#}
        {#                    <span class="align-middle">تایید نشده</span>#}
        {#                  </span>#}
        {#                  <span class="text-danger"><i class='ti ti-circle-x ti-sm'></i></span>#}
        {#                </a>#}
        {#                {% endif %}#}
        {#              </li>#}
        {#              <li>#}
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="dropdown-item">
            <i class="ti ti-logout me-2 ti-sm"></i>
            <span class="align-middle">خروج از حساب</span>
          </button>
        </form>
    </li>
  </ul>
  </li>
  <!--/ User -->
  </ul>
</div>

<!-- Search Small Screens -->
<div class="navbar-search-wrapper search-input-wrapper {% if menu_horizontal %}{{ container_class }}{% endif %} d-none">
  <input type="text"
         class="form-control search-input {% if not menu_horizontal %}{{ container_class }}{% endif %} border-0"
         placeholder="Search..." aria-label="Search...">
  <i class="ti ti-x ti-sm search-toggler cursor-pointer"></i>
</div>
{% if not navbar_detached %}
  </div>
  </nav>
{% endif %}
{% if navbar_detached %}
  </nav>
{% endif %}
