{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}سرور های تست{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-rowgroup-bs5/rowgroup.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/umd/styles/index.min.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
  <script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
  <script src="{% static 'libs/jdate/jdate.min.js' %}"></script>
  <script src="{% static 'vendor/libs/flatpickr/flatpickr.js' %}"></script>
  <script src="{% static 'libs/flatpickr/flatpickr-jdate.js' %}"></script>
  <script src="{% static 'libs/flatpickr-jalali/dist/l10n/fa.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/umd/bundle/popular.min.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/umd/plugin-bootstrap5/index.min.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/umd/plugin-auto-focus/index.min.js' %}"></script>

  <script src="{% static 'vendor/libs/select2/select2.js' %}"></script>


{% endblock vendor_js %}

{% block page_js %}
  {{ block.super }}
  <script src="{% static 'js/tables-datatables-basic.js' %}"></script>
  <script src="{% static 'js/form-layouts.js' %}"></script>
{% endblock page_js %}

{% block content %}

  <!-- DataTable direct html : by byteMaster at 2024-02-01 -->
  <div class="card mb-4">
    <h5 class="card-header">اضافه کردن سرور</h5>
    <form class="card-body">
      <div class="row g-3">
        <div class="col-md-6">
          <label class="form-label" for="multicol-username">نام سرور</label>
          <input class="form-control" id="multicol-username" placeholder="سرور یک" type="text" />
        </div>
        <div class="col-md-6">
          <label class="form-label" for="multicol-ip">آیپی</label>
          <input class="form-control" id="multicol-ip" placeholder="192.168.1.1" type="text" />
        </div>

      </div>
      <br>
      <div class="row g-3">
        <div class="col-md-6">
          <label class="form-label" for="select2Basic">کشور سرور:</label>
          <select class="select2 form-select form-select-lg" data-allow-clear="true" id="select2Basic"
                  name="country_server">
            <option label="انتخاب کشور" value="0">انتخاب کشور</option>
            {% for item in country %}
              <option label="{{ item.persian_name }}" value="{{ item.id }}">{{ item.persian_name }}</option>
            {% endfor %}
          </select>

        </div>
        <div class="col-md-6">
          <label class="form-label" for="select2Basic2">ارائه دهنده خدمات سرور:</label>
          <select class="select2 form-select form-select-lg" data-allow-clear="true" id="select2Basic2"
                  name="country_server">
            <option label="انتخاب ارائه دهنده" value="0">انتخاب ارائه دهنده</option>
            {% for item in isp %}
              <option label="{{ item.name }}" value="{{ item.id }}">{{ item.name }}</option>
            {% endfor %}
          </select>

        </div>
      </div>
      <br>
      <div class="row g-3">
        <div class="form-check form-switch mb-2 ps-5">
          <label class="form-check-label" for="flexSwitchCheckChecked">فعال بودن سرور</label>
          <input checked name="is_active" class="form-check-input" id="flexSwitchCheckChecked" type="checkbox" />

        </div>
      </div>
      <hr class="my-4 mx-n4" />
      <button class="btn btn-primary me-sm-3 me-1" type="submit">ارسال</button>
      <button class="btn btn-label-secondary" type="reset">لغو</button>
    </form>
  </div>
  <div class="card">
    <h5 class="card-header">لیست سرور های تست</h5>
    <div class="card-datatable table-responsive pt-0">
      <table class="datatables-direct-basic table">
        <thead>
        <tr>
          <th>پرچم</th>
          <th>نام سرور</th>
          <th>کشور</th>
          <th>آیپی</th>
          <th>ارائه دهنده</th>
          <th>وضعیت</th>
          <th>عملیات</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <img alt="User" class="" src="{% static 'img/flag/Germanypng.png' %}" width="32">
          </td>
          <td>سرور یک</td>
          <td>
            آلمان
          </td>
          <td>
            1.1.1.1
          </td>
          <td>
            Hetzner
          </td>
          <td>
            <span class="badge  bg-label-success">فعال</span>
          </td>
          <td>
            <div class="d-inline-block">
              <a href="javascript:;" class="btn btn-sm btn-icon item-edit" data-bs-toggle="dropdown"><i
                class="text-primary ti ti-trash-filled"></i></a>
            </div>
            <a href="javascript:;" class="btn btn-sm btn-icon item-edit"><i class="text-primary ti ti-pencil"></i></a>
          </td>
        </tr>
        <tr>
          <td>
            <img alt="User" class="" src="{% static 'img/flag/iran.png' %}" width="32">
          </td>
          <td>سرور دو</td>
          <td>
            ایران
          </td>
          <td>
            1.1.1.1
          </td>
          <td>
            ابر آروان
          </td>
          <td>
            <span class="badge  bg-label-danger">غیر فعال</span>
          </td>
          <td>
            <div class="d-inline-block">
              <a href="javascript:;" class="btn btn-sm btn-icon item-edit" data-bs-toggle="dropdown"><i
                class="text-primary ti ti-trash-filled"></i></a>
            </div>
            <a href="javascript:;" class="btn btn-sm btn-icon item-edit"><i class="text-primary ti ti-pencil"></i></a>
          </td>
        </tr>
        <tr>
          <td>
            <img alt="User" class="" src="{% static 'img/flag/iran.png' %}" width="32">
          </td>
          <td>سرور سه</td>
          <td>
            ایران
          </td>
          <td>
            1.1.1.1
          </td>
          <td>
            هاستیران
          </td>
          <td>
            <span class="badge  bg-label-success">فعال</span>
          </td>
          <td>
            <div class="d-inline-block">
              <a href="javascript:;" class="btn btn-sm btn-icon item-edit" data-bs-toggle="dropdown"><i
                class="text-primary ti ti-trash-filled"></i></a>
            </div>
            <a href="javascript:;" class="btn btn-sm btn-icon item-edit"><i class="text-primary ti ti-pencil"></i></a>
          </td>
        </tr>
        <tr>
          <td>
            <img alt="User" class="" src="{% static 'img/flag/United States.png' %}" width="32">
          </td>
          <td>سرور چهار</td>
          <td>
            ایالات متحده
          </td>
          <td>
            1.1.1.1
          </td>
          <td>
            OVH
          </td>
          <td>
            <span class="badge  bg-label-success">فعال</span>
          </td>
          <td>
            <div class="d-inline-block">
              <a href="javascript:;" class="btn btn-sm btn-icon item-edit" data-bs-toggle="dropdown"><i
                class="text-primary ti ti-trash-filled"></i></a>
            </div>
            <a href="javascript:;" class="btn btn-sm btn-icon item-edit"><i class="text-primary ti ti-pencil"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
