{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}جدول کاربران{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-rowgroup-bs5/rowgroup.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/umd/styles/index.min.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/spinkit/spinkit.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
  <script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
  <script src="{% static 'libs/jdate/jdate.min.js' %}"></script>
  <script src="{% static 'vendor/libs/flatpickr/flatpickr.js' %}"></script>
  <script src="{% static 'libs/flatpickr/flatpickr-jdate.js' %}"></script>
  <script src="{% static 'libs/flatpickr-jalali/dist/l10n/fa.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/umd/bundle/popular.min.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/umd/plugin-bootstrap5/index.min.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/umd/plugin-auto-focus/index.min.js' %}"></script>

  <script src="{% static 'vendor/libs/select2/select2.js' %}"></script>


{% endblock vendor_js %}

{% block page_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/css/pages/cards-advance.css' %}" />
  <style>
    .clickable-row {
      cursor: pointer;
      transition: background-color 0.2s ease;
    }

    .clickable-row:hover {
      background-color: #f6efeb;
    }
  </style>
{% endblock page_css %}

{% block page_js %}
  {{ block.super }}
  <script src="{% static 'js/tables-datatables-basic.js' %}"></script>
  <script src="{% static 'js/form-layouts.js' %}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const rows = document.querySelectorAll('.clickable-row');
      rows.forEach(row => {
        row.addEventListener('click', () => {
          window.location.href = row.dataset.href;
        });
      });
    });
  </script>
{% endblock page_js %}

{% block content %}
  <h4 class="py-3 mb-4">
    <span class="text-muted fw-light">  تنظیمات /</span> جدول کاربران
  </h4>
  <div class="card">
    <h5 class="card-header">لیست کاربران</h5>
    <div class="card-datatable table-responsive pt-0">
      <table class="datatables-direct-basic table">
        <thead>
        <tr>
          <th>عکس</th>
          <th>نام</th>
          <th>نام کاربری</th>
          <th>نقش</th>
          <th>وضعیت فعالیت</th>
          <th>تلفن</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
          <tr class="clickable-row" data-href="{% url 'usersDetail' user.id %}">
            <td>
              <img class="rounded-circle" alt="{{ user.name }}" src="{% static 'img/avatars/' %}{{ user.username }}.png"
                   width="52">
            </td>
            <td>{{ user.name }}</td>
            <td>
              {{ user.username }}
            </td>
            <td>
              {% if user.role == "manager" %}
                <span class="badge bg-label-dark">مدیر کل</span>
              {% elif user.role == "admin" %}
                <span class="badge bg-label-dark">ادمین</span>
              {% elif user.role == "user" %}
                <span class="badge bg-label-dark">کاربر عادی</span>
              {% endif %}
            </td>
            <td>
              {% if user.is_active %}
                <span class="badge bg-label-success">فعال</span>
              {% else %}
                <span class="badge bg-label-danger"> غیر فعال</span>
              {% endif %}
            </td>
            <td style="direction: ltr">
              {{ user.phone }}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>



{% endblock %}
