<!-- Footer-->
<footer class="content-footer footer bg-footer-theme">
  <div class="{{container_class}}">
    <div class="footer-container d-flex align-items-center justify-content-between py-2 flex-md-row flex-column">
      <div>
        ©
        <script>
          document.write(new Date().getFullYear());
        </script>
        , ارائه شده توسط
        <a href="/" class="text-danger byte-hover">تست سرعت</a>
{#        در سایت#}
{#        <a class="fw-medium" href="#support" target="_blank">راستچین</a>#}
      </div>

{#      <div class="d-none d-lg-inline-block">#}
{#        <a href="{% get_theme_variables 'license_url' %}" class="footer-link me-4" target="_blank">لایسنس</a>#}
{#        <a href="{% get_theme_variables 'more_themes' %}" target="_blank" class="footer-link me-4">قالب‌های بیشتر</a>#}
{#        <a href="{% get_theme_variables 'documentation' %}" target="_blank" class="footer-link me-4">مستندات</a>#}
{#        <a href="{% get_theme_variables 'support' %}" target="_blank" class="footer-link d-none d-sm-inline-block">پشتیبانی</a>#}
{#      </div>#}
    </div>
  </div>
</footer>
<!--/ Footer-->
