{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}تیکت ها{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/bootstrap-maxlength/bootstrap-maxlength.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/bootstrap-maxlength/bootstrap-maxlength.js' %}"></script>
{% endblock vendor_js %}

{% block page_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/css/pages/app-chat.css' %}" />
  <style>
    .chat-history-wrapper,
    .chat-history-body{
      background: #fff !important;
    }

    #icon-support {
      margin: 0 auto !important;
      text-align: center;
    }

    #icon-support img {
      width: 50%;
    }
  </style>
{% endblock page_css %}

{% block page_js %}
  {{ block.super }}
  <script src="{% static 'js/app-chat.js' %}"></script>
{% endblock page_js %}

{% block content %}
  <div class="app-chat card overflow-hidden">
    <div class="row g-0">

      <!-- Chat & Contacts -->
      <div class="col app-chat-contacts app-sidebar flex-grow-0 overflow-hidden border-end" id="app-chat-contacts">
        <hr class="container-m-nx m-0" />
        <div class="sidebar-body">
          <div class="chat-contact-list-item-title">
            <h5 class="text-primary mb-0 px-4 pt-3 pb-2">تیکت ها</h5>
          </div>
          <!-- Chats -->
          <ul class="list-unstyled chat-contact-list" id="chat-list">
            {% for user in users %}
              <li class="chat-contact-list-item">
                <a class="d-flex align-items-center" href="/ticket/{{ user.id }}">
                  <div class="flex-shrink-0 avatar avatar-online">
                    <img alt="آواتار" class="rounded-circle" src="{% static 'img/avatars/2.png' %}" />
                  </div>
                  <div class="chat-contact-info flex-grow-1 ms-2">
                    <h6 class="chat-contact-name text-truncate m-0">{{ user.first_name }} {{ user.last_name }}</h6>
                    <p class="chat-contact-status text-muted text-truncate mb-0">{{ user.username }}</p>
                  </div>
                  <small class="text-muted mb-auto">اخیرا</small>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!-- /Chat contacts -->

      <div class="col app-chat-history">
        <div class="chat-history-wrapper">
          <div class="chat-history-body">
            <div id="icon-support">
              <img src="static/img/pages/support.jpg" alt="support">
            </div>
          </div>
        </div>
      </div>

      <div class="app-overlay"></div>
    </div>
  </div>
{% endblock %}
