{% extends layout_path %}

{% load static %}
{% load i18n %}
{% load jformat %}

{% block title %}اعلان ها{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/bootstrap-maxlength/bootstrap-maxlength.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-rowgroup-bs5/rowgroup.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/umd/styles/index.min.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/bootstrap-maxlength/bootstrap-maxlength.js' %}"></script>
  <script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
  <script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
  <script src="{% static 'libs/jdate/jdate.min.js' %}"></script>
  <script src="{% static 'vendor/libs/flatpickr/flatpickr.js' %}"></script>
  <script src="{% static 'libs/flatpickr/flatpickr-jdate.js' %}"></script>
  <script src="{% static 'libs/flatpickr-jalali/dist/l10n/fa.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/umd/bundle/popular.min.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/umd/plugin-bootstrap5/index.min.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/umd/plugin-auto-focus/index.min.js' %}"></script>
{% endblock vendor_js %}

{% block page_css %}
  {{ block.super }}
  <style>
    .chat-history-wrapper,
    .chat-history-body {
      background: #fff !important;
    }

    #icon-support {
      margin: 0 auto !important;
      text-align: center;
    }

    #icon-support img {
      width: 50%;
    }
  </style>
{% endblock page_css %}

{% block page_js %}
  {{ block.super }}
  <script src="{% static 'js/tables-datatables-basic.js' %}"></script>
{% endblock page_js %}

{% block content %}
<div class="card">
    <h5 class="card-header">اعلان ها</h5>
    <div class="card-datatable table-responsive pt-0">
      <table class="datatables-direct-basic table">
        <thead>
        <tr>
          <th>پیام</th>
          <th>وضعیت</th>
          <th>تاریخ</th>
        </tr>
        </thead>
        <tbody>
        {% for notification in notifications %}
          <tr>
            <td>
              {{ notification.message }}
            </td>
            <td>
              {% if notification.is_read %}
                <span class="badge  bg-label-success">خوانده شده</span>
              {% else %}
                <span class="badge  bg-label-danger">خوانده نشده</span>
              {% endif %}
            </td>
            <td>
              ساعت {{ notification.created_at|time:"H:i" }} | {{ notification.created_at|jformat:"%Y/%m/%d" }} </td>
          </tr>
        {% endfor %}

        </tbody>
      </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $.ajax({
      url: '{% url "update_notification_status" %}',
      type: 'POST',
      data: {
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      success: function(response) {
        console.log('Notification status updated');
      }
    });
  });
</script>
{% endblock %}
