{% extends layout_path %}

{% load static %}
{% load i18n %}
{% load jformat %}

{% block title %}تیکت ها{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/bootstrap-maxlength/bootstrap-maxlength.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/bootstrap-maxlength/bootstrap-maxlength.js' %}"></script>
{% endblock vendor_js %}

{% block page_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/css/pages/app-chat.css' %}" />
{% endblock page_css %}

{% block page_js %}
  {{ block.super }}
  <script src="{% static 'js/app-chat.js' %}"></script>
{% endblock page_js %}

{% block content %}
  <div class="app-chat card overflow-hidden">
    <div class="row g-0">

      <!-- Chat History -->
      <div class="col app-chat-history bg-body">
        <div class="chat-history-wrapper">
          <div class="chat-history-header border-bottom">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex overflow-hidden align-items-center">
                <i class="ti ti-menu-2 ti-sm cursor-pointer d-lg-none d-block me-2" data-bs-toggle="sidebar"
                   data-overlay data-target="#app-chat-contacts"></i>
                <div class="flex-shrink-0 avatar">
                  <img alt="آواتار" class="rounded-circle" data-bs-toggle="sidebar" data-overlay
                       data-target="#app-chat-sidebar-right" src="{% static 'img/avatars/support.jpg' %}" />
                </div>
                <div class="chat-contact-info flex-grow-1 ms-2">
                  <h6 class="m-0">پشتیبانی</h6>
                  <small class="user-status text-muted">سامانه سدید</small>
                </div>
              </div>
              <div class="d-flex align-items-center">
                {#              <i class="ti ti-phone-call cursor-pointer d-sm-block d-none me-3"></i>#}
                {#              <i class="ti ti-video cursor-pointer d-sm-block d-none me-3"></i>#}
                {#              <i class="ti ti-search cursor-pointer d-sm-block d-none me-3"></i>#}
                {#              <div class="dropdown d-flex align-self-center">#}
                {#                <button aria-expanded="false" aria-haspopup="true" class="btn p-0" data-bs-toggle="dropdown" id="chat-header-actions" type="button">#}
                {#                  <i class="ti ti-dots-vertical"></i>#}
                {#                </button>#}
                {#                <div aria-labelledby="chat-header-actions" class="dropdown-menu dropdown-menu-end">#}
                {#                  <a class="dropdown-item" href="javascript:void(0);">نمایش مخاطب</a>#}
                {#                  <a class="dropdown-item" href="javascript:void(0);">بی‌صدایی اعلان‌ها</a>#}
                {#                  <a class="dropdown-item" href="javascript:void(0);">مسدودکردن</a>#}
                {#                  <a class="dropdown-item" href="javascript:void(0);">حذف پیام‌ها</a>#}
                {#                  <a class="dropdown-item" href="javascript:void(0);">گزارش</a>#}
                {#                </div>#}
                {#              </div>#}
              </div>
            </div>
          </div>
          <div class="chat-history-body bg-body">
            <ul class="list-unstyled chat-history">
              {% for message in messages %}
                {% if message.support_send == True %}
                  <li class="chat-message chat-message-right">
                    <div class="d-flex overflow-hidden">
                      <div class="chat-message-wrapper flex-grow-1">
                        <div class="chat-message-text">
                          <p class="mb-0"> {{ message.text }} </p>
                        </div>
                        <div class="text-muted mt-1">
                          <small>{{ message.created_at|jformat:"%Y/%m/%d" }}<br> {{ message.created_at|time:"H:i" }} </small>
                        </div>
                      </div>
                    </div>
                  </li>
                {% endif %}
                {% if message.support_send == False %}
                  <li class="chat-message">
                    <div class="d-flex overflow-hidden">
                      <div class="chat-message-wrapper flex-grow-1">
                        <div class="chat-message-text">
                          <p class="mb-0">{{ message.text }}</p>
                        </div>
                        <div class="text-end text-muted mt-1">
                          <i class="ti ti-checks ti-xs me-1 text-success"></i>
                          <small>{{ message.created_at|jformat:"%Y/%m/%d" }}<br> {{ message.created_at|time:"H:i" }} </small>
                        </div>
                      </div>
                    </div>
                  </li>
                {% endif %}
              {% endfor %}

            </ul>
          </div>
          <!-- Chat message form -->
          <div class="chat-history-footer shadow-sm">
            <form class="form-send-message d-flex justify-content-between align-items-center"  method="post">
              {% csrf_token %}
              <input class="form-control message-input border-0 me-3 shadow-none"
                     placeholder="پیام خود را اینجا تایپ کنید" name="text" />
              <div class="message-actions d-flex align-items-center">
{#                <i class="speech-to-text ti ti-microphone ti-sm cursor-pointer"></i>#}
                <label class="form-label mb-0" for="attach-doc">
{#                  <i class="ti ti-photo ti-sm cursor-pointer mx-3"></i>#}
{#                  <input hidden id="attach-doc" type="file"/>#}
                </label>
                <button type="submit" class="btn btn-primary d-flex send-msg-btn">
                  <span class="align-middle d-md-inline-block d-none">ارسال</span>
                  <i class="ti ti-send ms-md-1 ms-0 ic-mirror"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /Chat History -->


      <div class="app-overlay"></div>
    </div>
  </div>
{% endblock %}
